
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Hakkımızda</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="#url">Ana Sayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Hakkımızda </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!-- /about-6-->
<section class="w3l-cta4 py-5">
    <div class="container py-lg-5">
        <div class="ab-section text-center">
            <h6 class="sub-title">Biz Kimiz?</h6>
            <h3 class="hny-title">Sadece bir grup öğrenci</h3>
            <p class="py-3 mb-3">
                Biz sadece bir grup Bilgisayar mühendisliği öğrencisiyiz.Sadece bir ders için proje yapmaya başladığımız bu yolda
                buralara geleceğimizi hayal bile edemezdik.Şimdi geldiğimiz noktada ise ...
            </p>
            <a href="services.html" class="btn btn-style btn-primary">Okumak için tıkla</a>
        </div>
        <div class="row mt-5">
            <div class="col-md-9 mx-auto">
                <img src="~/Traversal-Liberty/assets/images/reklam4.0.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<!-- //about-6-->
<!-- /content-6-->
<section class="w3l-content-6 py-5">
    <div class="container py-lg-5">
        <div class="row">
            <div class="col-lg-6 content-6-left pr-lg-5">
                <h6 class="sub-title">Neden bizi seçmelisiniz ?</h6>
                <h3 class="hny-title">Genciz ve Hırslıyız</h3>
            </div>
            <div class="col-lg-6 content-6-right mt-lg-0 mt-4">
                <p class="mb-3">
                    Bu yola çıkarken çok fazla araştırdık çok fazla profesyonel insanla konuştuk ve müşterilerimiz nelere ihtiyacı var
                    onları nasıl memnun ederiz konusunda çok çalıştık.Bugün geldiğimiz noktada bu çalışmaların ne kadar doğru olduğunu görüyoruz
                </p>
                <p class="mb-3">
                    Peki bitti mi! Hayır.Aldığımız geri dönüşler,insanların yorumları ve tepkilerini görükçe biz daha da çalışma aşkı
                    ve iyi hizmet aşkı ile yanıp tutuşuyoruz.Sizler için her gün daha..
                </p>
                <a href="services.html" class="btn btn-style btn-primary mt-4">Okumak için tıkla</a>
            </div>
        </div>
    </div>
</section>
<section class="w3l-statshny py-5" id="stats">
    <div class="container py-lg-5 py-md-4">
        <div class="w3-stats-inner-info">
            <div class="row">
                <div class="col-lg-4 col-6 stats_info counter_grid text-left">
                    <span class="fa fa-smile-o"></span>
                    <p class="counter">760</p>
                    <h4>Mutlu Müşteriler </h4>
                </div>
                <div class="col-lg-4 col-6 stats_info counter_grid1 text-left">
                    <span class="fa fa-users"></span>
                    <p class="counter">24</p>
                    <h4>Varolan Ürün sayısı</h4>
                </div>
                <div class="col-lg-4 col-6 stats_info counter_grid mt-lg-0 mt-5 text-left">
                    <span class="fa fa-database"></span>
                    <p class="counter">5</p>
                    <h4>Şubeler</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->
<!-- team -->
<section class="w3l-team" id="team">
    <div class="team-block py-5">
        <div class="container py-lg-5">
            <div class="title-content text-center mb-lg-3 mb-4">
                <h6 class="sub-title">Takımımız</h6>
                <h3 class="hny-title">Ekibimizle tanışın</h3>
            </div>
            <div class="row">
                <div class="col-lg-3 col-6 mt-lg-5 mt-4">
                    <div class="box16">
                        <a href="#url"><img src="~/Traversal-Liberty/assets/images/team1.jpg" alt="" class="img-fluid" /></a>
                        <div class="box-content">
                            <h3 class="title"><a href="#url">Doğukan</a></h3>
                            <span class="post">Veri Güvenlik Uzmanı</span>
                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 mt-lg-5 mt-4">
                    <div class="box16">
                        <a href="#url"><img src="~/Traversal-Liberty/assets/images/team2.jpg" alt="" class="img-fluid" /></a>
                        <div class="box-content">
                            <h3 class="title"><a href="#url">Hande</a></h3>
                            <span class="post">Satış Müdürü</span>
                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 mt-lg-5 mt-4">
                    <div class="box16">
                        <a href="#url"><img src="~/Traversal-Liberty/assets/images/team3.jpg" alt="" class="img-fluid" /></a>
                        <div class="box-content">
                            <h3 class="title"><a href="#url">Nejat</a></h3>
                            <span class="post">Kalite Departmanı Sorumlusu</a></span>
                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6 mt-lg-5 mt-4">
                    <div class="box16">
                        <a href="#url"><img src="~/Traversal-Liberty/assets/images/team4.jpg" alt="" class="img-fluid" /></a>
                        <div class="box-content">
                            <h3 class="title"><a href="#url">Merve</a></h3>
                            <span class="post">Müşteri temsilcisi</a></span>
                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>