@{
    Layout = null;
}
<!doctype html>
<html lang="zxx">

@await Html.PartialAsync("~/Views/ClientPartial/_HeaderPartial.cshtml")

<body>
    <!--header-->
    @await Html.PartialAsync("~/Views/ClientPartial/_NavbarPartial.cshtml")
    <div>
        @RenderBody()

    </div>

    @await Html.PartialAsync("~/Views/ClientPartial/_FooterPartial.cshtml")
    <!-- Template JavaScript -->
    @await Html.PartialAsync("~/Views/ClientPartial/_ScriptPartial.cshtml")

</body>

</html>