@{
	ViewData["Title"] = "PackagesGold";
	Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="w3l-grids-3 py-5">
	<div class="container py-md-5">
		<div class="title-content text-left mb-lg-5 mb-4">
			<!--<h6 class="sub-title">Visit</h6>-->
			<h3 class="hny-title">Gold Paketlerimiz</h3>
		</div>
		<div class="row bottom-ab-grids">
			@for (int i = 0; i < 12; i++)
			{
				<!--/row-grids-->
                <div class="col-lg-6 subject-card mt-lg-0 mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <img src="~/Traversal-Liberty/assets/images/reklam1.2.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>Gold @i</h4>
                                    <!--<p>3Days, 4 Nights</p>-->
                                    <div class="dst-btm">
                                        <h6 class="">Fiyat</h6>
                                        <span>$50</span>
                                    </div>
                                    <p class="sub-para">Akılda kalıcı ve Sıradışı</p>
                                    <!-- Buraya düğme (button) ekleyelim -->
                                    <br />
                                    <button type="button" class="btn btn-outline-danger">Daha Fazla Bilgi</button>
                                </div>
                            </div>
                        </a>
                    </div>
                    <br />
                </div>

			}

		</div>
	</div>
</section>